# Lab 01. Introduction to Python

## 1. Using Jupyter Notebook (through Google Colab) and basic Python datatypes

As you can see Jupyter notebook is a very flexible tool, when one can put code snippets inside cells to run dem within Python interpreter independently. What's more one can change type of a cell to `Markdown` or `raw` to place documentation, HTML, images and raw text within the same notebook. Those cells are `input cells`, but after `running` a cell one gets an `output cell` which displays the rusults (depending on the content anf type) of preceding input cell. 

Let's start with something very simple if it comes to programming using Python.

In [2]:
name = "John"

This is a very common way (in various programming languages) to create a `variable` and assign a `value` to it. When this code snippet is executed, this variable and its value is held in the computer's memomry until it is deleten od purpose or the program finishes (exits).

Normally when we are running console programs (those without graphical user interface - GUI) to see value of a variable we should use functions like `print(variable)` to place its value on the console (the window in which we type operating system commands into). Here in Jupyter Notebook (which is being run under the Google Colab service) it is not necessery. We just need to refer to variable by typing its name in the code cell and running it.

In [3]:
name

'John'

All of the cells (both input and output) receive their numbers, depending on the order of execution.

This particular variable `name` is so called `string` variable, which in Python is represented by the inner type `str`. We can check type of a variable by running a built=in function `type()` and putting any variable as its argument (value on which this function will perform defined operations).

In [5]:
type(name)

str

Next let's introduce some more commonly used Python data types.

In [11]:
# This is a one line comment - this is not being interpreted, just a plain text.
# integer type (int) - integral numbers (no decimal part), limit? Only computer memory.
# Why the name is num_of_students no num of students?
# Can I use other conventions of naming variables?
# Are there limitations or best practice?
num_of_students = 10

# floating point number
pi = 3.14

# list of values (mutable - values can be changed after declaring a list)
vals = ['John', 'Kate', 10, 0.9999, ['C-3PO', 'Voldemort']]

# tuple of values (immutable - values can not be changed after declaration)
vals_tuple = (1, 2, 3, 'This', 'can', 'be', ['one', 'on', 'one'])

# dict - a dictionary, collection of key - value pairs
dd = {1: 'Monday', 2: 'Tuesday', 'Wednesday': 3}

# a set - like on math lectures, distinct values with set-like operations being already implemented
A = {1, 2, 3}
B = {2, 4, 5}

# display is a built-in function of Jupyter Notebook which acts like print() in Python standard library
# it is used when we want to print out more than just the last refered variable in a single cell (this is a default behaviour)
display(A - B)
display(A & B) # intersection (common part) of sets
display(A.intersection(B))
display(A | B) # sum of sets

{1, 3}

{2}

{2}

{1, 2, 3, 4, 5}

In [13]:
# let's refer to prevoiusly declared list, tuple and dictionary
display(vals)
display(vals_tuple)
display(dd)

['John', 'Kate', 10, 0.9999, ['C-3PO', 'Voldemort']]

(1, 2, 3, 'This', 'can', 'be', ['one', 'on', 'one'])

{1: 'Monday', 2: 'Tuesday', 'Wednesday': 3}

In [16]:
# collections (types that can collect/store more than one value inside of it) can be referenced by providing indexes (list, str, tuple) or keys (dict) to refer to
# a specific value being placed at a position (index) or asociated with a name (key in dictionary)
display(vals[0])
display(vals_tuple[1])
display(dd['Wednesday'])
display(name[3])

'John'

2

3

'n'

In [17]:
# as mentioned before some of the types are immutable
# trying to replace first letter
name[0] = 'R'

TypeError: 'str' object does not support item assignment

In [20]:
# we can do it with list though
display(vals[1])
vals[1] = 'Bob'
display(vals[1])

'Kate'

'Bob'

In [23]:
# tuples are immputable too, we won't try it
# let's change a value assigned to a key of a dict
display(dd[2])

'Tuesday'

In [25]:
dd[2] = 'Wtorek'
dd

{1: 'Monday', 2: 'Wtorek', 'Wednesday': 3}